
/*basic styles*/
*{
    font-family: Comic Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 20
}
h1{
   text-align: center; 
   color: #0033cc
}

body{
    background: linear-gradient(to bottom right,#33ccff, #ff99cc);
}

/*image styles*/
.image{
    float: left;
    height: 50%; 
    width: 50%;
    border-radius: 60%;
}

.fadeoverlay {
    width: 50%;
    float:left;
}
.overlay {
    height: 50%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background: grey;
    border-radius: 60%;
}
  
.fadeoverlay:hover .overlay {
    opacity: .6;
}
  
.text {
    color: white;
    font-size: 20px;
    position: relative;
    top:-50%;
}


.NextToOverlay{
    position: relative;
    left: -20%
}


/*nav styles*/
nav{
   float: none;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%); 
}

nav a{
    color: #0033cc;
    text-decoration:none;
    padding: 10px;
    margin: 10px;
    font-size: large;
}

nav a:hover{
    color: purple;
    font-size:25;
}



/*container styles*/
#container{
    overflow: hidden;   
    text-align: center;
    
}
#navcontainer{
    height: 30px;
}

.container {
    zoom: 1; /* IE6&7 */
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.child{
    width: 80%;
    height: 85%;
    padding: 10px;
    margin:10 auto;
    opacity:0;
}

/*styles for the images screen*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 50%;
    max-height: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button{
      text-align: middle;
      border-radius: 50%;
      font-size: 24px;
  }
  button:hover{
      background-color: #ff99cc;
  }
  .column img:hover{
      max-height: 100%;
      max-width: 100%;
      transition: .5s ease;

  }
/*end styles for the images screen*/